.search-container-box {
    /* display: grid; */
    margin-top: 15px;
    width: 200px;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;
    /* grid-area: search-container; */
    /* border-radius: 10px 0 0 0; */
    /* box-shadow:  0 1px 3px -1px rgba(0,0,0,0.75); */
    z-index: 1;
}
.search-container-box input {
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 6px !important;
    height: 30px;
    border: 0 !important;
    width: 250px !important;
    padding-left: 48px !important;
    padding-right: 0px !important;
    font-size: 0.9rem !important;
    background: url('../assets/icons/search.svg') no-repeat rgba(255, 255, 255, 0.3) !important;
    background-position: 15px center !important;
    background-size: 20px 20px !important;
}